* {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}
.all{
    width: 430px;
    height: 448px;
    background: #2C2D33;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}
.p1{
    font: 500 16px 'Roboto';
    color: #828282;
    padding-left: 45px;  
}
.number{
    font: 500 40px 'Roboto';
    color: #FFFFFF;
    padding-left: 45px;
}
.p2{
    font: 500 16px 'Roboto';
    color: #FFFFFF;
    padding-left: 45px;  
}
.line {
    padding-top: 2px;
    height: 1px;
    background-color: rgb(23, 14, 3);
}
.img-1{
    padding-top: 20px;
    margin-left: 29px;
    background-image: url(./Group\ 2281.svg);
    background-repeat: no-repeat;
    margin: 38px;
    padding: 97px;
}
.lit-blu-p {
    padding-left: 45px;
    display: flex;
    align-items: center;

}
.img-blu {
    background-image: url(./Rectangle\ 1339.svg);
    background-repeat: no-repeat;
    width: 21px;
    height: 8px;
    margin-right: 9px;
}
.p3 {
    font: 400 12px 'Roboto';
    color: #FFFFFF;  
}